body {
    font-family: Helvetica;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-pills {
    margin-bottom: 20px
}

.required .control-label:after {
    content: "*";
    color: red;
}

.center {
    margin: auto;
}