{% extends 'base.html' %}

{% block head %}
<title>Contracts</title>
{% endblock %}

{% block body %}
<a href="/">Home</a>

<h1>계약 입력</h1>

<form action="/contracts" method="POST">
    <div class="form-group">
        <label for="tenant_name">입주자</label>
        <select class="form-control" name="tenant_name" id="tenant_name" placeholder="">
            <option hidden disabled selected value></option>
        </select>
    </div>
    <div class="form-group">
        <label for="address">소재지</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="">
    </div>
    <div class="form-group">
        <label for="deposit">보증금</label>
        <input type="text" class="form-control" name="deposit" id="deposit" placeholder="">
    </div>
    <div class="form-group">
        <label for="monthly">월세</label>
        <input type="text" class="form-control" name="monthly" id="monthly" placeholder="">
    </div>
    <div class="form-group">
        <label for="management_fee">관리비</label>
        <input type="text" class="form-control" name="management_fee" id="management_fee" placeholder="">
    </div>
    <div class="form-group">
        <label for="start_date">계약시작일</label>
        <input type="date" class="form-control" name="start_date" id="start_date" placeholder="">
    </div>
    <div class="form-group">
        <label for="end_date">계약종료일</label>
        <input type="date" class="form-control" name="end_date" id="end_date" placeholder="">
    </div>
    <div class="form-group">
        <label for="contract_memo">메모</label>
        <textarea class="form-control" name="contract_memo" id="contract_memo" rows="3"></textarea>
    </div>
    <input type="submit" value="입력하기">
</form>

<hr>

<table border="1">
    <tr>
        <th>id</th>
        <th>생성일</th>
        <th>입주자</th>
        <th>소재지</th>
        <th>보증금</th>
        <th>월세</th>
        <th>관리비</th>
        <th>계약시작일</th>
        <th>계약종료일</th>
        <th>메모</th>
        <th>del</th>
        <th>변경</th>
        <th>t_id</th>
    </tr>
    {% for contract_tenant in contracts_tenants %}
    {% set contract = contract_tenant[0] %}
    {% set tenant = contract_tenant[1] %}
    <tr>
        <td>{{ contract.id }}</td>
        <td>{{ contract.created_at }}</td>
        <td>{{ tenant.name }}</td>
        <td>{{ contract.address }}</td>
        <td>{{ contract.deposit }}</td>
        <td>{{ contract.monthly }}</td>
        <td>{{ contract.management_fee }}</td>
        <td>{{ contract.start_date }}</td>
        <td>{{ contract.end_date }}</td>
        <td>{{ contract.contract_memo }}</td>
        <td>{{ contract.delete_col}}</td>
        <td>
            <a href="">삭제</a>
            <br>
            <a href="">수정</a>
        </td>
        <td>{{ contract.tenant_id}}</td>
    </tr>
    {% endfor %}


</table>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tenant_namelist.js') }}"></script>

{% endblock %}