{% extends 'base.html' %}

{% block head %}
<title>Contracts</title>
{% endblock %}

{% block body %}
<div class="text-center">
    <h3>계약 입력</h3>
</div>
<div class="container">
    <form class="" action="/contracts" method="POST">
        <div class="form-group row required">
            <label for="tenant_name" class="col-sm-2 col-form-label text-center control-label">입주자</label>
            <div class="col-sm-2">
                <select class="form-control" name="tenant_name" id="tenant_name" required>
                    <option hidden disabled selected value></option>
                </select>
            </div>
            <label for="address" class="col-sm-2 col-form-label text-center control-label">소재지</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="address" id="address" required>
            </div>
        </div>
        <div class="form-group row required">
            <label for="deposit" class="col-sm-2 col-form-label text-center control-label">보증금</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="deposit" id="deposit" required>
            </div>
            <label for="monthly" class="col-sm-2 col-form-label text-center control-label">월세</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="monthly" id="monthly" required>
            </div>
            <label for="management_fee" class="col-sm-2 col-form-label text-center control-label">관리비</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="management_fee" id="management_fee" required>
            </div>
        </div>
        <div class="form-group row required">
            <label for="start_date" class="col-sm-2 col-form-label text-center control-label">계약시작일</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="start_date" id="start_date" required>
            </div>
            <label for="end_date" class="col-sm-2 col-form-label text-center control-label">계약종료일</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="end_date" id="end_date" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="memo" class="col-sm-2 col-form-label text-center">메모</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="memo" id="memo" rows="3"></textarea>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-secondary" type="submit" value="입력하기">
        </div>
    </form>
</div>

<table class=table>
    <tr>
        <th scope="col">id</th>
        <th scope="col">생성일</th>
        <th scope="col">입주자</th>
        <th scope="col">소재지</th>
        <th scope="col">보증금</th>
        <th scope="col">월세</th>
        <th scope="col">관리비</th>
        <th scope="col">계약시작일</th>
        <th scope="col">계약종료일</th>
        <th scope="col">메모</th>
        <th scope="col">del</th>
        <th scope="col">t_id</th>
        <th scope="col">변경</th>
    </tr>
    {% for contract_tenant in contracts_tenants %}
    {% set contract = contract_tenant[0] %}
    {% set tenant = contract_tenant[1] %}
    <tr>
        <th scope="row">{{ contract.id }}</th>
        <td>{{ contract.created_at.strftime("%Y-%m-%d") }}</td>
        <td>{{ tenant.name }}</td>
        <td>{{ contract.address }}</td>
        <td>{{ contract.deposit }}</td>
        <td>{{ contract.monthly }}</td>
        <td>{{ contract.management_fee }}</td>
        <td>{{ contract.start_date.strftime("%Y-%m-%d") }}</td>
        <td>{{ contract.end_date.strftime("%Y-%m-%d") }}</td>
        <td>{{ contract.memo }}</td>
        <td>{{ contract.delete_col}}</td>
        <td>{{ contract.tenant_id}}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="" role="button">삭제</a>
            <a class="btn btn-primary btn-sm" href="" role="button">수정</a>
        </td>
    </tr>
    {% endfor %}


</table>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tenant_namelist.js') }}"></script>

{% endblock %}