{% extends 'base.html' %}

{% block head %}
<title>Deposit</title>
{% endblock %}


{% block body %}
<div class="text-center">
    <h3>입금내역</h3>
</div>
<div class="container">
    <form action="/deposit_history" method="POST">
        <div class="form-group row required">
            <label for="tenant_name" class="col-sm-2 col-form-label text-center control-label">입주자</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="tenant_name" id="tenant_name" required>
            </div>
            <label for="depositor" class="col-sm-2 col-form-label text-center control-label">입금자명</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="depositor" id="depositor" required>
            </div>
        </div>
        <div class="form-group row required">
            <label for="deposit_date" class="col-sm-2 col-form-label text-center control-label">입금일</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="deposit_date" id="deposit_date" required>
            </div>
            <label for="amount" class="col-sm-2 col-form-label text-center control-label">입금액</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="amount" id="amount" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="memo" class="col-sm-2 col-form-label text-center">메모</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="memo" id="memo" rows="3"></textarea>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-secondary" type="submit" value="입력하기">
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">생성일</th>
            <th scope="col">입주자</th>
            <th scope="col">입금자</th>
            <th scope="col">입금일</th>
            <th scope="col">입금액</th>
            <th scope="col">메모</th>
            <th scope="col">del</th>
            <th scope="col">변경</th>
        </tr>
    </thead>
    <tbody>
        {% for deposit_tenant in deposit_all_tenants %}
        <!--  if tenant.delete_col == False  -->
        <tr>
            <th scope="row">{{ deposit_tenant.id }}</th>
            <td>{{ deposit_tenant.created_at }}</td>
            <td>{{ deposit_tenant.tenant_id }}</td>
            <td>{{ deposit_tenant.depositor }}</td>
            <td>{{ deposit_tenant.deposit_date }}</td>
            <td>{{ deposit_tenant.amount }}</td>
            <td>{{ deposit_tenant.memo }}</td>
            <td>{{ deposit_tenant.delete_col }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="" role="button">삭제</a>
                <a class="btn btn-primary btn-sm" href="" role="button">수정</a>
            </td>
        </tr>
        <!--  endif  -->
        {% endfor %}
    </tbody>
</table>


{% endblock %}

