{% extends 'base.html' %}

{% block head %}
<title>Tenants</title>
{% endblock %}

{% block body %}

<div class="text-center">
    <h3>수정</h3>
</div>

<div class="container">
    <form action="/tenants/edit/{{ tenant.id }}" method="POST">
        <div class="form-group row required">
            <label for="name" class="col-sm-2 col-form-label text-center control-label">이름</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" value="{{ tenant.name }}" required>
            </div>
        </div>
        <div class="form-group row required">
            <label for="phone" class="col-sm-2 col-form-label text-center control-label">핸드폰</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="phone" id="phone" value="{{ tenant.phone }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="tenant_memo" class="col-sm-2 col-form-label text-center">메모</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="tenant_memo" id="tenant_memo" rows="3">{{ tenant.tenant_memo }}</textarea>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-secondary" type="submit" value="수정하기">
        </div>
    </form>
</div>

{% endblock %}