{% extends 'base.html' %}

{% block head %}
<title>Tenants</title>
{% endblock %}

{% block body %}

<h1>Edit</h1>

<form action="/tenants/edit/{{ tenant.id }}" method="POST">
    <div class="form-group">
        <label for="name">이름</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ tenant.name }}" placeholder="">
    </div>
    <div class="form-group">
        <label for="phone">핸드폰</label>
        <input type="text" class="form-control" name="phone" id="phone" value="{{ tenant.phone }}" placeholder="">
    </div>
    <div class="form-group">
        <label for="tenant_memo">메모</label>
        <textarea class="form-control" name="tenant_memo" id="tenant_memo" rows="3">{{ tenant.tenant_memo }}</textarea>
    </div>
    <input type="submit" value="수정하기">
</form>


{% endblock %}