{% extends 'base.html' %}

{% block head %}
<title>Tenants</title>
{% endblock %}

{% block body %}
<a href="/">Home</a>

<h1>입주자 입력</h1>

<form action="/tenants" method="POST">
    <p>이름: <input type="text" name="name" id="name"></p>
    <p>핸드폰: <input type="text" name="phone" id="phone"></p>
    <p>메모: <input type="text" name="tenant_memo" id="tenant_memo"></p>
    <input type="submit" value="입력하기">
</form>

<hr>

<table border="1">
    <tr>
        <th>id</th>
        <th>생성일</th>
        <th>이름</th>
        <th>핸드폰</th>
        <th>메모</th>
        <th>del</th>
        <th>변경</th>
    </tr>
    {% for tenant in tenants %}
    <tr>
        <td>{{ tenant.id }}</td>
        <td>{{ tenant.created_at }}</td>
        <td>{{ tenant.name }}</td>
        <td>{{ tenant.phone }}</td>
        <td>{{ tenant.tenant_memo }}</td>
        <td>{{ tenant.delete_col }}</td>
        <td>
            <a href="/tenants/delete/{{ tenant.id }}">삭제</a>
            <br>
            <a href="">수정</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}