{% extends 'base.html' %}

{% block head %}
<title>Tenants</title>
{% endblock %}

{% block body %}
<a href="/tenants">입주자</a>
<h1>Edit</h1>

<form action="/tenants/edit/{{ tenant.id }}" method="POST">
    <p>이름: <input type="text" name="name" id="name" value="{{ tenant.name }}"></p>
    <p>핸드폰: <input type="text" name="phone" id="phone" value="{{ tenant.phone }}"></p>
    <p>메모: <input type="text" name="tenant_memo" id="tenant_memo" value="{{ tenant.tenant_memo }}"></p>
    <input type="submit" value="수정하기">
</form>

{% endblock %}